<footer class="page-footer indigo lighten-0">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">Email: <a href="#" class="white-text under_line">abc@gmail.com</a></p>
                <p class="grey-text text-lighten-4">Phone: <a href="#" class="white-text under_line">998901234567</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social media</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="#"><i class="fab fa-telegram fa-2x"></i></a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2021 ********
        <a class="grey-text text-lighten-4 right">All rights reserved.</a>
        </div>
    </div>
</footer>